body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    circle,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.page-header a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 2.5px;
  transition: all 0.6s ease-in-out;
}

.page-header a:hover {
  color: #0a57c7;
  letter-spacing: 3px;
}

.login_form {
  background-color: rgba(255, 255, 255, 0.507);
  border: 1px solid #000;
  border-radius: 20px;
  width: 40% !important;
  box-shadow: 13px 13px 30px 0px rgba(0, 0, 0, 0.9);
}

.error {
  background: #f2dede;
  color: #0c0101;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  margin: 20px auto;
}

.form_input {
  width: 80% !important;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.3em 0.3em;
  /* padding-left: 2em; */
  outline: none;
  margin: 1.5em auto 1.5rem auto;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0);
}

.form_input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.btn {
  transition: all 0.5s ease;
  width: 40% !important;
  border-radius: 30px !important;
  color: #008080 !important;
  font-weight: 700 !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #008080 !important;
}

.btn:hover,
.btn:focus {
  background-color: #008080 !important;
  color: #fff !important;
}
