/* mobile */
@media screen and (max-width: 30rem) {
  /*progressBar*/
  #scrollPath {
    background: none;
  }

  #progressBar {
    display: none;
  }

  .welcomeTxt,
  #codechef {
    font-size: 2.6rem;
    padding: 0 0.6rem 0 0.6rem;
  }

  .slideshow-container,
  .dot {
    display: none;
  }

  .part2 {
    height: 150vh;
  }

  #coding-vector {
    width: 100%;
    height: auto;
    position: absolute;
    margin: 7.5rem 0 0 0;
  }

  .aboutus-card {
    position: relative;
    margin: -12.5rem 0 0 0;
    height: auto;
    letter-spacing: 0rem;
  }

  .aboutus-card-sub {
    width: 100%;
    margin: 0 0.8rem 0 0.8rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
  }

  .p4-section {
    flex-wrap: wrap;
  }

  .p4-sub {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .chapter-cards {
    width: 22rem;
    height: 20rem;
  }

  .chapter-cards img {
    width: 100%;
    height: 100%;
    border-radius: 2% 1% 2% 1%;
    border: 0.06rem solid aliceblue;
  }

  .chapter-cards:hover::before {
    border-radius: 0;
  }

  .part3 {
    height: 90vh;
  }

  .about-vector {
    display: none;
  }

  .p3 {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    padding: 0 1.25rem 0 1.25rem;
  }

  .p3-head {
    margin: 2.5rem 0 1.25rem 0;
    font-size: 1rem;
  }

  .p3-body {
    font-size: 1rem;
    line-height: 1.56rem;
  }

  .p3-body::first-letter {
    font-size: 2.2rem;
  }

  .part5 {
    display: block;
    height: auto;
  }

  .p5-head {
    padding: 0.625rem;
  }

  .events {
    display: block;
  }

  .events-bx-row {
    flex-wrap: wrap;
  }

  .part6 {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1.25rem 0 1.25rem;
  }

  .p6-title h1 {
    text-align: center;
    font-size: 2rem;
  }

  .p6-youtube-video iframe {
    max-width: 100%;
    max-height: 100%;
  }

  #youtube {
    padding: 0 0 1.25rem 0;
  }

  .part8 {
    flex-direction: column-reverse;
    height: auto;
    padding: 0 1.25rem 1.25rem 1.25rem;
  }

  .contact-form form {
    width: 80%;
    margin: 0 auto;
    padding: 0 0.312rem 0 0.312rem;
    border-radius: 0;
  }

  .text-box {
    flex-wrap: wrap;
  }

  label {
    font-size: 1.2rem;
  }

  .contact-form input,
  textarea {
    border-radius: 0;
  }

  .p7-title {
    text-align: center;
    font-size: 1rem;
  }
}

/* tablets */
@media screen and (min-width: 30.07rem) and (max-width: 48rem) {
  /* scroll-bar  */
  #scrollPath {
    background: none;
  }

  .part2 {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #coding-vector {
    max-width: 100%;
    max-height: auto;
    position: relative;
  }

  .aboutus-card {
    position: relative;
    margin: 9.38rem 0 0 0;
    letter-spacing: 0rem;
  }

  .aboutus-card-sub {
    width: 100%;
    margin: 0 0.8rem 0 0.8rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
  }

  .p4-section {
    flex-wrap: wrap;
  }

  .p4-sub {
    flex-wrap: wrap;
    justify-content: center;
  }

  .chapter-cards {
    width: 17.5rem;
    margin: 3.75rem 3.13rem 0 3.13rem;
    border-radius: none;
  }

  .chapter-cards img {
    max-width: 100%;
    height: 100%;
    border-radius: 2% 1% 2% 1%;
    border: 0.06rem solid aliceblue;
  }

  .chapter-cards:hover::before {
    border-radius: 0;
  }

  .part3 {
    height: 60vh;
  }

  .about-vector {
    display: none;
  }

  .p3 {
    margin: 0;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0 1.25rem 0 1.25rem;
  }

  .p3-head {
    margin: 4.38rem 0 1.88rem 0;
    font-size: 1rem;
  }

  .p3-body {
    font-size: 1.2rem;
    line-height: 1.56rem;
  }

  .p3-body::first-letter {
    font-size: 2.2rem;
  }

  .part5 {
    height: auto;
  }

  .events-bx-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .part6 {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1.25rem 0 1.25rem;
  }

  .p6-title h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  #youtube {
    padding: 0 0 1.25rem 0;
  }

  .p6-youtube-video iframe {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 0.63rem 0;
  }

  .part8 {
    flex-direction: column-reverse;
    height: auto;
    padding: 0 1.25rem 1.25rem 1.25rem;
  }

  .contact-form form {
    width: 100%;
    margin: 0 auto;
  }

  .text-box {
    flex-wrap: wrap;
  }

  label {
    font-size: 1.5rem;
  }

  .contact-form input,
  textarea {
    border-radius: 0;
  }

  .p7-title {
    text-align: center;
    font-size: 1.5rem;
  }
}

/* small laptops and desktops */
@media screen and (min-width: 48.07rem) and (max-width: 80rem) {
  #scrollPath {
    background: none;
  }

  .part2 {
    height: auto;
    justify-content: center;
  }

  #coding-vector {
    max-width: 100%;
    max-height: 100%;
  }

  .aboutus-card {
    margin: 3.13rem 0 3.13rem 0;
    letter-spacing: 0rem;
  }

  .aboutus-card-sub {
    margin: 0.8rem 0.8rem 0 0.8rem;
    padding: 1rem;
  }

  .p4-section {
    flex-wrap: wrap;
    padding: 0;
  }

  .p4-sub {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
  }

  .chapter-cards {
    width: 13rem;
    height: 16rem;
  }

  .chapter-cards img {
    width: 100%;
    height: 100%;
    border-radius: 2% 1% 2% 1%;
    border: 0.06rem solid aliceblue;
  }

  .chapter-cards:hover::before {
    border-radius: 0;
  }

  .part3 {
    height: auto;
    justify-content: center;
  }

  .about-vector {
    display: block;
    width: 100%;
    margin: 0 0 0 3.13rem;
  }

  .part3 img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .p3 {
    width: 100%;
    padding: 0 1.25rem 0 1.25rem;
    margin: 1.25rem 0 0 5rem;
  }

  .p3-head {
    margin: 0 0 1.25rem 0;
    font-size: 1.2rem;
  }

  .p3-body {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .p3-body::first-letter {
    font-size: 2.2rem;
  }

  .events-bx-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .part6 {
    height: auto;
    flex-wrap: wrap;
  }

  .p6-title h1 {
    font-size: 2.6rem;
  }

  .p6-youtube-video iframe {
    max-width: 100%;
    max-height: auto;
    padding: 1.25rem;
  }

  .part8 {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 1.25rem;
  }

  .contact-form form {
    width: 100%;
  }

  .p7-title {
    font-size: 2rem;
  }
}

/*-------------------------*/
/*-------------------------*/
/*  Footer Responsive Css  */
/*-------------------------*/
/*-------------------------*/

@media screen and (max-width: 69.9375rem) {
  .separatorPill {
    display: none;
  }

  .right_container {
    padding: 2rem 0rem;
  }
}

@media screen and (max-width: 52.5rem) {
  .center_container {
    padding: 2rem 0rem 0rem 0rem;
  }
}

@media screen and (max-width: 36.875rem) {
  .separatorPill {
    width: 16rem;
    height: 0.5rem;
    margin: 0.6rem 0rem;
    display: block;
  }

  .center_container {
    text-align: center;
  }
}
